<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Me</h1>
  <br />
  <br />
  <br />
   <p>
    Hello, I'm Charlie Lynch. I graduated from Georgia State University in 2001 with a bachelors degree in Computer Information Systems (CIS). I have worked in the IT industry for the past 15 years. My background has mostly been in IT Operations and Network Support.  I am currently studying Web Development online at The Firehose Project.
  </p>
  <br />
  <p>
    My favorite pastimes are watching sports, reading, exercising, and traveling. I've visited all of the lower 48 states. I hope to visit Alaska and Hawaii in the next couple of years.
  </p>
  <br />
  <p>
    If you want to learn how to code at <strong>The Firehose Project</strong>  - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  <br />
  <br />
  
  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'mypic2.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Charlie Lynch</h2>
    <br />
    <p>
      Charlie Lynch worked for Southern Heritage Insurance Company in Atlanta, GA for 8 years as an IBM iSeries Operator. He worked for ABM Industries for the past 10 years in IT Operations and Network Administration. 
    </p>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />